# データサイエンス100本ノック（構造化データ加工編） - R

## はじめに
- 初めに以下のセルを実行してください
- 必要なライブラリのインポートとデータベース（PostgreSQL）からのデータ読み込みを行います
- 利用が想定されるライブラリは以下セルでインポートしています
- その他利用したいライブラリがあればinstall.packages()で適宜インストールしてください
- 名前、住所等はダミーデータであり、実在するものではありません

In [1]:
# require("RPostgreSQL")
# require("tidyr")
# require("dplyr")
# require("stringr")
# require("caret")
# require("lubridate")
# require("rsample")
# require("recipes")
# require("themis")

# host <- "db"
# port <- Sys.getenv()["PG_PORT"]
# dbname <- Sys.getenv()["PG_DATABASE"]
# user <- Sys.getenv()["PG_USER"]
# password <- Sys.getenv()["PG_PASSWORD"]

# con <- dbConnect(PostgreSQL(), host=host, port=port, dbname=dbname, user=user, password=password)
# df_customer <- dbGetQuery(con,"SELECT * FROM customer")
# df_category <- dbGetQuery(con,"SELECT * FROM category")
# df_product <- dbGetQuery(con,"SELECT * FROM product")
# df_receipt <- dbGetQuery(con,"SELECT * FROM receipt")
# df_store <- dbGetQuery(con,"SELECT * FROM store")
# df_geocode <- dbGetQuery(con,"SELECT * FROM geocode")

# パスを設定し、各データを読み込む

In [2]:
library(dplyr)
library(httpgd)

# dataパスを設定
data_path = "/home/q/training_task/100knocks-preprocess/docker/work/data"
# csvファイルを読み込む
df_category <- read.table(paste(data_path, "category.csv", sep = "/"), header = T,
                        sep = ",", fileEncoding = "UTF-8")
df_customer <- read.table(paste(data_path, "customer.csv", sep = "/"), header = T,
                        sep = ",", fileEncoding = "UTF-8")
df_geocode <- read.table(paste(data_path, "geocode.csv", sep = "/"), header = T,
                        sep = ",", fileEncoding = "UTF-8")
df_product <- read.table(paste(data_path, "product.csv", sep = "/"), header = T,
                        sep = ",", fileEncoding = "UTF-8")
df_receipt <- read.table(paste(data_path, "receipt.csv", sep = "/"), header = T,
                        sep = ",", fileEncoding = "UTF-8")
df_store <- read.table(paste(data_path, "store.csv", sep = "/"), header = T,
                        sep = ",", fileEncoding = "UTF-8")
dim(df_category)
dim(df_customer)
dim(df_geocode)
dim(df_product)
dim(df_receipt)
dim(df_store)

 次のパッケージを付け加えます: ‘dplyr’


 以下のオブジェクトは ‘package:stats’ からマスクされています:

     filter, lag


 以下のオブジェクトは ‘package:base’ からマスクされています:

     intersect, setdiff, setequal, union

[1] 228   6

[1] 21971    11

[1] 127252      9

[1] 10030     6

[1] 104681      9

[1] 53 10

In [3]:
renv::snapshot()

* Lockfile written to '~/training_task/100knocks-preprocess/docker/renv.lock'.

# 演習問題

---
> R-001: レシート明細データ（df_receipt）から全項目の先頭10件を表示し、どのようなデータを保有しているか目視で確認せよ。

In [4]:
head(df_receipt, 5)

  sales_ymd sales_epoch store_cd receipt_no receipt_sub_no customer_id
1 20181103  1541203200  S14006    112       1              CS006214000001
2 20181118  1542499200  S13008   1132       2              CS008415000097
3 20170712  1499817600  S14028   1102       1              CS028414000014
4 20190205  1549324800  S14042   1132       1              ZZ000000000000
5 20180821  1534809600  S14025   1102       2              CS025415000050
  product_cd quantity amount
1 P070305012 1        158
2 P070701017 1         81
3 P060101005 1        170
4 P050301001 1         25
5 P060102007 1         90

---
> R-002: レシート明細データ（df_receipt）から売上年月日（sales_ymd）、顧客ID（customer_id）、商品コード（product_cd）、売上金額（amount）の順に列を指定し、10件表示せよ。

In [5]:
df_receipt[1:5, c("sales_ymd", "customer_id", "product_cd", "amount")]

  sales_ymd customer_id    product_cd amount
1 20181103  CS006214000001 P070305012 158
2 20181118  CS008415000097 P070701017  81
3 20170712  CS028414000014 P060101005 170
4 20190205  ZZ000000000000 P050301001  25
5 20180821  CS025415000050 P060102007  90

---
> R-003: レシート明細データ（df_receipt）から売上年月日（sales_ymd）、顧客ID（customer_id）、商品コード（product_cd）、売上金額（amount）の順に列を指定し、10件表示せよ。ただし、sales_ymdsales_dateに項目名を変更しながら抽出すること。

In [6]:
df_receipt[1:5, ] %>%
    select(sales_date=sales_ymd, customer_id, product_cd, amount)

  sales_date customer_id    product_cd amount
1 20181103   CS006214000001 P070305012 158
2 20181118   CS008415000097 P070701017  81
3 20170712   CS028414000014 P060101005 170
4 20190205   ZZ000000000000 P050301001  25
5 20180821   CS025415000050 P060102007  90

---
> R-004: レシート明細データ（df_receipt）から売上日（sales_ymd）、顧客ID（customer_id）、商品コード（product_cd）、売上金額（amount）の順に列を指定し、以下の条件を満たすデータを抽出せよ。
> - 顧客ID（customer_id）が"CS018205000001"

In [7]:
df_receipt %>%
    select(sales_ymd, customer_id, product_cd, amount) %>%
    filter(customer_id == 'CS018205000001')

   sales_ymd customer_id    product_cd amount
1  20180911  CS018205000001 P071401012 2200
2  20180414  CS018205000001 P060104007  600
3  20170614  CS018205000001 P050206001  990
4  20170614  CS018205000001 P060702015  108
5  20190216  CS018205000001 P071005024  102
6  20180414  CS018205000001 P071101002  278
7  20190226  CS018205000001 P070902035  168
8  20190924  CS018205000001 P060805001  495
9  20190226  CS018205000001 P071401020 2200
10 20180911  CS018205000001 P071401005 1100
11 20190216  CS018205000001 P040101002  218
12 20190924  CS018205000001 P091503001  280

---
> R-005: レシート明細データ（df_receipt）から売上日（sales_ymd）、顧客ID（customer_id）、商品コード（product_cd）、売上金額（amount）の順に列を指定し、以下の全ての条件を満たすデータを抽出せよ。
> - 顧客ID（customer_id）が"CS018205000001"
> - 売上金額（amount）が1,000以上

In [8]:
df_receipt[c("sales_ymd", "customer_id", "product_cd", "amount")] %>% 
    filter(customer_id == "CS018205000001" &  amount >= 1000)

  sales_ymd customer_id    product_cd amount
1 20180911  CS018205000001 P071401012 2200
2 20190226  CS018205000001 P071401020 2200
3 20180911  CS018205000001 P071401005 1100

---
> R-006: レシート明細データ（df_receipt）から売上日（sales_ymd）、顧客ID（customer_id）、商品コード（product_cd）、売上数量（quantity）、売上金額（amount）の順に列を指定し、以下の全ての条件を満たすデータを抽出せよ。
> - 顧客ID（customer_id）が"CS018205000001"
> - 売上金額（amount）が1,000以上または売上数量（quantity）が5以上

In [9]:
df_receipt[
    c("sales_ymd", "customer_id", "product_cd","quantity", "amount")] %>% 
    filter(customer_id == "CS018205000001" & (amount >= 1000 | quantity >= 5))

  sales_ymd customer_id    product_cd quantity amount
1 20180911  CS018205000001 P071401012 1        2200
2 20180414  CS018205000001 P060104007 6         600
3 20170614  CS018205000001 P050206001 5         990
4 20190226  CS018205000001 P071401020 1        2200
5 20180911  CS018205000001 P071401005 1        1100

---
> R-007: レシート明細データ（df_receipt）から売上日（sales_ymd）、顧客ID（customer_id）、商品コード（product_cd）、売上金額（amount）の順に列を指定し、以下の全ての条件を満たすデータを抽出せよ。
> - 顧客ID（customer_id）が"CS018205000001"
> - 売上金額（amount）が1,000以上2,000以下

In [10]:
df_receipt[c("sales_ymd", "customer_id", "product_cd", "amount")] %>% 
    filter(customer_id == "CS018205000001" &  (amount >= 1000 & amount <= 2000))

  sales_ymd customer_id    product_cd amount
1 20180911  CS018205000001 P071401005 1100

In [11]:
df_receipt[c("sales_ymd", "customer_id", "product_cd", "amount")] %>% 
    filter(customer_id == "CS018205000001" &  (between(amount, 1000, 2000)))

  sales_ymd customer_id    product_cd amount
1 20180911  CS018205000001 P071401005 1100

---
> R-008: レシート明細データ（df_receipt）から売上日（sales_ymd）、顧客ID（customer_id）、商品コード（product_cd）、売上金額（amount）の順に列を指定し、以下の全ての条件を満たすデータを抽出せよ。
> - 顧客ID（customer_id）が"CS018205000001"
> - 商品コード（product_cd）が"P071401019"以外

In [12]:
df_receipt[c("sales_ymd", "customer_id", "product_cd", "amount")] %>% 
    filter(customer_id == "CS018205000001" & product_cd != "P071401019")

   sales_ymd customer_id    product_cd amount
1  20180911  CS018205000001 P071401012 2200
2  20180414  CS018205000001 P060104007  600
3  20170614  CS018205000001 P050206001  990
4  20170614  CS018205000001 P060702015  108
5  20190216  CS018205000001 P071005024  102
6  20180414  CS018205000001 P071101002  278
7  20190226  CS018205000001 P070902035  168
8  20190924  CS018205000001 P060805001  495
9  20190226  CS018205000001 P071401020 2200
10 20180911  CS018205000001 P071401005 1100
11 20190216  CS018205000001 P040101002  218
12 20190924  CS018205000001 P091503001  280

---
> R-009: 以下の処理において、出力結果を変えずにORをANDに書き換えよ。

`df_store %>% filter(!(prefecture_cd == "13" | floor_area > 900))`

In [13]:
df_store %>% filter(!(prefecture_cd == "13" | floor_area > 900))

  store_cd store_name prefecture_cd prefecture
1 S14046   北山田店   14            神奈川県
2 S14011   日吉本町店 14            神奈川県
3 S12013   習志野店   12            千葉県
  address
1 神奈川県横浜市都筑区北山田一丁目
2 神奈川県横浜市港北区日吉本町四丁目
3 千葉県習志野市芝園一丁目
  address_kana                                                 tel_no
1 カナガワケンヨコハマシツヅキクキタヤマタイッチョウメ         045-123-4049
2 カナガワケンヨコハマシコウホククヒヨシホンチョウヨンチョウメ 045-123-4033
3 チバケンナラシノシシバゾノイッチョウメ                       047-123-4002
  longitude latitude floor_area
1 139.5916  35.56189 831
2 139.6316  35.54655 890
3 140.0220  35.66122 808

In [14]:
df_store %>%
    filter((prefecture_cd != "13" & floor_area <= 900))

  store_cd store_name prefecture_cd prefecture
1 S14046   北山田店   14            神奈川県
2 S14011   日吉本町店 14            神奈川県
3 S12013   習志野店   12            千葉県
  address
1 神奈川県横浜市都筑区北山田一丁目
2 神奈川県横浜市港北区日吉本町四丁目
3 千葉県習志野市芝園一丁目
  address_kana                                                 tel_no
1 カナガワケンヨコハマシツヅキクキタヤマタイッチョウメ         045-123-4049
2 カナガワケンヨコハマシコウホククヒヨシホンチョウヨンチョウメ 045-123-4033
3 チバケンナラシノシシバゾノイッチョウメ                       047-123-4002
  longitude latitude floor_area
1 139.5916  35.56189 831
2 139.6316  35.54655 890
3 140.0220  35.66122 808

---
> R-010: 店舗データ（df_store）から、店舗コード（store_cd）が"S14"で始まるものだけ全項目抽出し、10件表示せよ。

In [15]:
library(stringr)
filter(df_store, str_detect(store_cd, "^S14"))[1:3, ]

  store_cd store_name   prefecture_cd prefecture
1 S14010   菊名店       14            神奈川県
2 S14033   阿久和店     14            神奈川県
3 S14036   相模原中央店 14            神奈川県
  address
1 神奈川県横浜市港北区菊名一丁目
2 神奈川県横浜市瀬谷区阿久和西一丁目
3 神奈川県相模原市中央二丁目
  address_kana                                       tel_no       longitude
1 カナガワケンヨコハマシコウホククキクナイッチョウメ 045-123-4032 139.6326
2 カナガワケンヨコハマシセヤクアクワニシイッチョウメ 045-123-4043 139.4961
3 カナガワケンサガミハラシチュウオウニチョウメ       042-123-4045 139.3716
  latitude floor_area
1 35.50049 1732
2 35.45918 1495
3 35.57327 1679

In [16]:
head(df_store %>% filter(startsWith(store_cd, "S14")), n=3)

  store_cd store_name   prefecture_cd prefecture
1 S14010   菊名店       14            神奈川県
2 S14033   阿久和店     14            神奈川県
3 S14036   相模原中央店 14            神奈川県
  address
1 神奈川県横浜市港北区菊名一丁目
2 神奈川県横浜市瀬谷区阿久和西一丁目
3 神奈川県相模原市中央二丁目
  address_kana                                       tel_no       longitude
1 カナガワケンヨコハマシコウホククキクナイッチョウメ 045-123-4032 139.6326
2 カナガワケンヨコハマシセヤクアクワニシイッチョウメ 045-123-4043 139.4961
3 カナガワケンサガミハラシチュウオウニチョウメ       042-123-4045 139.3716
  latitude floor_area
1 35.50049 1732
2 35.45918 1495
3 35.57327 1679

---
> R-011: 顧客データ（df_customer）から顧客ID（customer_id）の末尾が1のものだけ全項目抽出し、10件表示せよ。

In [17]:
head(df_customer %>% filter(endsWith(customer_id, '1')), n=3)

  customer_id    customer_name gender_cd gender birth_day  age postal_cd
1 CS037613000071 六角 雅彦     9         不明   1952-04-01 66  136-0076
2 CS028811000001 堀井 かおり   1         女性   1933-03-27 86  245-0016
3 CS040412000191 川井 郁恵     1         女性   1977-01-05 42  226-0021
  address                              application_store_cd application_date
1 東京都江東区南砂**********           S13037               20150414
2 神奈川県横浜市泉区和泉町**********   S14028               20160115
3 神奈川県横浜市緑区北八朔町********** S14040               20151101
  status_cd
1 0-00000000-0
2 0-00000000-0
3 1-20091025-4

---
> R-012: 店舗データ（df_store）から、住所 (address) に"横浜市"が含まれるものだけ全項目表示せよ。

In [18]:
head(df_store %>%
    filter(grepl(pattern="横浜市", x=address)), 3)

  store_cd store_name prefecture_cd prefecture
1 S14010   菊名店     14            神奈川県
2 S14033   阿久和店   14            神奈川県
3 S14040   長津田店   14            神奈川県
  address
1 神奈川県横浜市港北区菊名一丁目
2 神奈川県横浜市瀬谷区阿久和西一丁目
3 神奈川県横浜市緑区長津田みなみ台五丁目
  address_kana                                               tel_no
1 カナガワケンヨコハマシコウホククキクナイッチョウメ         045-123-4032
2 カナガワケンヨコハマシセヤクアクワニシイッチョウメ         045-123-4043
3 カナガワケンヨコハマシミドリクナガツタミナミダイゴチョウメ 045-123-4046
  longitude latitude floor_area
1 139.6326  35.50049 1732
2 139.4961  35.45918 1495
3 139.4994  35.52398 1548

---
> R-013: 顧客データ（df_customer）から、ステータスコード（status_cd）の先頭がアルファベットのA〜Fで始まるデータを全項目抽出し、10件表示せよ。

In [19]:
head(df_customer %>% filter(grepl('^[A-F]', status_cd)), 3)

  customer_id    customer_name gender_cd gender birth_day  age postal_cd
1 CS031415000172 宇多田 貴美子 1         女性   1976-10-04 42  151-0053
2 CS015414000103 奥野 陽子     1         女性   1977-08-09 41  136-0073
3 CS011215000048 芦田 沙耶     1         女性   1992-02-01 27  223-0062
  address                                application_store_cd application_date
1 東京都渋谷区代々木**********           S13031               20150529
2 東京都江東区北砂**********             S13015               20150722
3 神奈川県横浜市港北区日吉本町********** S14011               20150228
  status_cd
1 D-20100325-C
2 B-20100609-B
3 C-20100421-9

---
> R-014: 顧客データ（df_customer）から、ステータスコード（status_cd）の末尾が数字の1〜9で終わるデータを全項目抽出し、10件表示せよ。

In [20]:
df_customer %>%
    filter(grepl('[1-9]$', status_cd)) %>% 
    head(., 3)

  customer_id    customer_name gender_cd gender birth_day  age postal_cd
1 CS001215000145 田崎 美紀     1         女性   1995-03-29 24  144-0055
2 CS033513000180 安斎 遥       1         女性   1962-07-11 56  241-0823
3 CS011215000048 芦田 沙耶     1         女性   1992-02-01 27  223-0062
  address                                application_store_cd application_date
1 東京都大田区仲六郷**********           S13001               20170605
2 神奈川県横浜市旭区善部町**********     S14033               20150728
3 神奈川県横浜市港北区日吉本町********** S14011               20150228
  status_cd
1 6-20090929-2
2 6-20080506-5
3 C-20100421-9

---
> R-015: 顧客データ（df_customer）から、ステータスコード（status_cd）の先頭がアルファベットのA〜Fで始まり、末尾が数字の1〜9で終わるデータを全項目抽出し、10件表示せよ。

In [21]:
df_customer %>%
    filter(grepl('[1-9]$', status_cd) & grepl('^[A-F]', status_cd)) %>% 
    .[1:3, "status_cd"]

[1] "C-20100421-9" "A-20091115-7" "A-20100724-7"

---
> R-016: 店舗データ（df_store）から、電話番号（tel_no）が3桁-3桁-4桁のデータを全項目表示せよ。

In [22]:
head(df_store)

  store_cd store_name   prefecture_cd prefecture
1 S12014   千草台店     12            千葉県
2 S13002   国分寺店     13            東京都
3 S14010   菊名店       14            神奈川県
4 S14033   阿久和店     14            神奈川県
5 S14036   相模原中央店 14            神奈川県
6 S13051   板橋大原店   13            東京都
  address
1 千葉県千葉市稲毛区千草台一丁目
2 東京都国分寺市本多二丁目
3 神奈川県横浜市港北区菊名一丁目
4 神奈川県横浜市瀬谷区阿久和西一丁目
5 神奈川県相模原市中央二丁目
6 東京都板橋区大原町
  address_kana                                       tel_no       longitude
1 チバケンチバシイナゲクチグサダイイッチョウメ       043-123-4003 140.1180
2 トウキョウトコクブンジシホンダニチョウメ           042-123-4008 139.4802
3 カナガワケンヨコハマシコウホククキクナイッチョウメ 045-123-4032 139.6326
4 カナガワケンヨコハマシセヤクアクワニシイッチョウメ 045-123-4043 139.4961
5 カナガワケンサガミハラシチュウオウニチョウメ       042-123-4045 139.3716
6 トウキョウトイタバシクオオハラチョウ               03-0123-4029 139.6980
  latitude floor_area
1 35.63559 1698
2 35.70566 1735
3 35.50049 1732
4 35.45918 1495
5 35.57327 1679
6 35.76788 1045

In [23]:
df_store %>%
    filter(grepl('[0-9]{3}-[0-9]{3}-[0-9]{4}', tel_no)) %>% 
    head(., 2)

  store_cd store_name prefecture_cd prefecture address
1 S12014   千草台店   12            千葉県     千葉県千葉市稲毛区千草台一丁目
2 S13002   国分寺店   13            東京都     東京都国分寺市本多二丁目
  address_kana                                 tel_no       longitude latitude
1 チバケンチバシイナゲクチグサダイイッチョウメ 043-123-4003 140.1180  35.63559
2 トウキョウトコクブンジシホンダニチョウメ     042-123-4008 139.4802  35.70566
  floor_area
1 1698
2 1735

---
> R-017: 顧客データ（df_customer）を生年月日（birth_day）で高齢順にソートし、先頭から全項目を10件表示せよ。

In [24]:
head(df_customer[sort(df_customer$birth_day, decreasing = TRUE, index=T)$ix, ], 3)

      customer_id    customer_name gender_cd gender birth_day  age postal_cd
15640 CS035114000004 大村 美里     1         女性   2007-11-25 11  156-0053
7469  CS022103000002 福山 はじめ   9         不明   2007-10-02 11  249-0006
10746 CS002113000009 柴田 真悠子   1         女性   2007-09-17 11  184-0014
      address                          application_store_cd application_date
15640 東京都世田谷区桜**********       S13035               20150619
7469  神奈川県逗子市逗子**********     S14022               20160909
10746 東京都小金井市貫井南町********** S13002               20160304
      status_cd
15640 6-20091205-6
7469  0-00000000-0
10746 0-00000000-0

In [25]:
head(
    df_customer[order(df_customer$birth_day, decreasing = FALSE), ],
    3
    )

      customer_id    customer_name gender_cd gender birth_day  age postal_cd
18818 CS003813000014 村山 菜々美   1         女性   1928-11-26 90  182-0007
12329 CS026813000004 吉村 朝陽     1         女性   1928-12-14 90  251-0043
15683 CS018811000003 熊沢 美里     1         女性   1929-01-07 90  204-0004
      address                          application_store_cd application_date
18818 東京都調布市菊野台**********     S13003               20160214
12329 神奈川県藤沢市辻堂元町********** S14026               20150723
15683 東京都清瀬市野塩**********       S13018               20150403
      status_cd
18818 0-00000000-0
12329 0-00000000-0
15683 0-00000000-0

---
> R-018: 顧客データ（df_customer）を生年月日（birth_day）で若い順にソートし、先頭から全項目を10件表示せよ。

In [26]:
head(
    df_customer[order(df_customer$birth_day, decreasing = TRUE), ],
    3
    )

      customer_id    customer_name gender_cd gender birth_day  age postal_cd
15640 CS035114000004 大村 美里     1         女性   2007-11-25 11  156-0053
7469  CS022103000002 福山 はじめ   9         不明   2007-10-02 11  249-0006
10746 CS002113000009 柴田 真悠子   1         女性   2007-09-17 11  184-0014
      address                          application_store_cd application_date
15640 東京都世田谷区桜**********       S13035               20150619
7469  神奈川県逗子市逗子**********     S14022               20160909
10746 東京都小金井市貫井南町********** S13002               20160304
      status_cd
15640 6-20091205-6
7469  0-00000000-0
10746 0-00000000-0

---
> R-019: レシート明細データ（df_receipt）に対し、1件あたりの売上金額（amount）が高い順にランクを付与し、先頭から10件表示せよ。項目は顧客ID（customer_id）、売上金額（amount）、付与したランクを表示させること。なお、売上金額（amount）が等しい場合は同一順位を付与するものとする。

In [27]:
cols = c("customer_id", "amount")
head(df_receipt[1:3, cols])

  customer_id    amount
1 CS006214000001 158
2 CS008415000097  81
3 CS028414000014 170

---
> R-020: レシート明細データ（df_receipt）に対し、1件あたりの売上金額（amount）が高い順にランクを付与し、先頭から10件表示せよ。項目は顧客ID（customer_id）、売上金額（amount）、付与したランクを表示させること。なお、売上金額（amount）が等しい場合でも別順位を付与すること。

---
> R-021: レシート明細データ（df_receipt）に対し、件数をカウントせよ。

---
> R-022: レシート明細データ（df_receipt）の顧客ID（customer_id）に対し、ユニーク件数をカウントせよ。

---
> R-023: レシート明細データ（df_receipt）に対し、店舗コード（store_cd）ごとに売上金額（amount）と売上数量（quantity）を合計せよ。

---
> R-024: レシート明細データ（df_receipt）に対し、顧客ID（customer_id）ごとに最も新しい売上年月日（sales_ymd）を求め、10件表示せよ。

---
> R-025: レシート明細データ（df_receipt）に対し、顧客ID（customer_id）ごとに最も古い売上年月日（sales_ymd）を求め、10件表示せよ。

---
> R-026: レシート明細データ（df_receipt）に対し、顧客ID（customer_id）ごとに最も新しい売上年月日（sales_ymd）と古い売上年月日を求め、両者が異なるデータを10件表示せよ。

---
> R-027: レシート明細データ（df_receipt）に対し、店舗コード（store_cd）ごとに売上金額（amount）の平均を計算し、降順でTOP5を表示せよ。

---
> R-028: レシート明細データ（df_receipt）に対し、店舗コード（store_cd）ごとに売上金額（amount）の中央値を計算し、降順でTOP5を表示せよ。

---
> R-029: レシート明細データ（df_receipt）に対し、店舗コード（store_cd）ごとに商品コード（product_cd）の最頻値を求め、10件表示させよ。

---
> R-030: レシート明細データ（df_receipt）に対し、店舗コード（store_cd）ごとに売上金額（amount）の分散を計算し、降順で5件表示せよ。

---
> R-031: レシート明細データ（df_receipt）に対し、店舗コード（store_cd）ごとに売上金額（amount）の標準偏差を計算し、降順で5件表示せよ。

---
> R-032: レシート明細データ（df_receipt）の売上金額（amount）について、25％刻みでパーセンタイル値を求めよ。

---
> R-033: レシート明細データ（df_receipt）に対し、店舗コード（store_cd）ごとに売上金額（amount）の平均を計算し、330以上のものを抽出せよ。

---
> R-034: レシート明細データ（df_receipt）に対し、顧客ID（customer_id）ごとに売上金額（amount）を合計して全顧客の平均を求めよ。ただし、顧客IDが"Z"から始まるものは非会員を表すため、除外して計算すること。

---
> R-035: レシート明細データ（df_receipt）に対し、顧客ID（customer_id）ごとに売上金額（amount）を合計して全顧客の平均を求め、平均以上に買い物をしている顧客を抽出し、10件表示せよ。ただし、顧客IDが"Z"から始まるものは非会員を表すため、除外して計算すること。

---
> R-036: レシート明細データ（df_receipt）と店舗データ（df_store）を内部結合し、レシート明細データの全項目と店舗データの店舗名（store_name）を10件表示せよ。

---
> R-037: 商品データ（df_product）とカテゴリデータ（df_category）を内部結合し、商品データの全項目とカテゴリデータのカテゴリ小区分名（category_small_name）を10件表示せよ。

---
> R-038: 顧客データ（df_customer）とレシート明細データ（df_receipt）から、顧客ごとの売上金額合計を求め、10件表示せよ。ただし、売上実績がない顧客については売上金額を0として表示させること。また、顧客は性別コード（gender_cd）が女性（1）であるものを対象とし、非会員（顧客IDが"Z"から始まるもの）は除外すること。

---
> R-039: レシート明細データ（df_receipt）から、売上日数の多い顧客の上位20件を抽出したデータと、売上金額合計の多い顧客の上位20件を抽出したデータをそれぞれ作成し、さらにその2つを完全外部結合せよ。ただし、非会員（顧客IDが"Z"から始まるもの）は除外すること。

---
> R-040: 全ての店舗と全ての商品を組み合わせたデータを作成したい。店舗データ（df_store）と商品データ（df_product）を直積し、件数を計算せよ。

---
> R-041: レシート明細データ（df_receipt）の売上金額（amount）を日付（sales_ymd）ごとに集計し、前回売上があった日からの売上金額増減を計算せよ。そして結果を10件表示せよ。

---
> R-042: レシート明細データ（df_receipt）の売上金額（amount）を日付（sales_ymd）ごとに集計し、各日付のデータに対し、前回、前々回、3回前に売上があった日のデータを結合せよ。そして結果を10件表示せよ。

---
> R-043: レシート明細データ（df_receipt）と顧客データ（df_customer）を結合し、性別コード（gender_cd）と年代（ageから計算）ごとに売上金額（amount）を合計した売上サマリデータを作成せよ。性別コードは0が男性、1が女性、9が不明を表すものとする。
>
> ただし、項目構成は年代、女性の売上金額、男性の売上金額、性別不明の売上金額の4項目とすること（縦に年代、横に性別のクロス集計）。また、年代は10歳ごとの階級とすること。

---
> R-044: 043で作成した売上サマリデータ（df_sales_summary）は性別の売上を横持ちさせたものであった。このデータから性別を縦持ちさせ、年代、性別コード、売上金額の3項目に変換せよ。ただし、性別コードは男性を"00"、女性を"01"、不明を"99"とする。

---
> R-045: 顧客データ（df_customer）の生年月日（birth_day）は日付型でデータを保有している。これをYYYYMMDD形式の文字列に変換し、顧客ID（customer_id）とともに10件表示せよ。

---
> R-046: 顧客データ（df_customer）の申し込み日（application_date）はYYYYMMDD形式の文字列型でデータを保有している。これを日付型に変換し、顧客ID（customer_id）とともに10件表示せよ。

---
> R-047: レシート明細データ（df_receipt）の売上日（sales_ymd）はYYYYMMDD形式の数値型でデータを保有している。これを日付型に変換し、レシート番号(receipt_no)、レシートサブ番号（receipt_sub_no）とともに10件表示せよ。

---
> R-048: レシート明細データ（df_receipt）の売上エポック秒（sales_epoch）は数値型のUNIX秒でデータを保有している。これを日付型に変換し、レシート番号(receipt_no)、レシートサブ番号（receipt_sub_no）とともに10件表示せよ。

---
> R-049: レシート明細データ（df_receipt）の売上エポック秒（sales_epoch）を日付型に変換し、「年」だけ取り出してレシート番号(receipt_no)、レシートサブ番号（receipt_sub_no）とともに10件表示せよ。

---
> R-050: レシート明細データ（df_receipt）の売上エポック秒（sales_epoch）を日付型に変換し、「月」だけ取り出してレシート番号(receipt_no)、レシートサブ番号（receipt_sub_no）とともに10件表示せよ。なお、「月」は0埋め2桁で取り出すこと。

---
> R-051: レシート明細データ（df_receipt）の売上エポック秒を日付型に変換し、「日」だけ取り出してレシート番号(receipt_no)、レシートサブ番号（receipt_sub_no）とともに10件表示せよ。なお、「日」は0埋め2桁で取り出すこと。

---
> R-052: レシート明細データ（df_receipt）の売上金額（amount）を顧客ID（customer_id）ごとに合計の上、売上金額合計に対して2,000円以下を0、2,000円より大きい金額を1に二値化し、顧客ID、売上金額合計とともに10件表示せよ。ただし、顧客IDが"Z"から始まるのものは非会員を表すため、除外して計算すること。

---
> R-053: 顧客データ（df_customer）の郵便番号（postal_cd）に対し、東京（先頭3桁が100〜209のもの）を1、それ以外のものを0に二値化せよ。さらにレシート明細データ（df_receipt）と結合し、全期間において売上実績のある顧客数を、作成した二値ごとにカウントせよ。

---
> R-054:  顧客データ（df_customer）の住所（address）は、埼玉県、千葉県、東京都、神奈川県のいずれかとなっている。都道府県毎にコード値を作成し、顧客ID、住所とともに10件表示せよ。値は埼玉県を11、千葉県を12、東京都を13、神奈川県を14とすること。

---
> R-055: レシート明細（df_receipt）データの売上金額（amount）を顧客ID（customer_id）ごとに合計し、その合計金額の四分位点を求めよ。その上で、顧客ごとの売上金額合計に対して以下の基準でカテゴリ値を作成し、顧客ID、売上金額合計とともに10件表示せよ。カテゴリ値は順に1〜4とする。
>
> - 最小値以上第1四分位未満 ・・・ 1を付与
> - 第1四分位以上第2四分位未満 ・・・ 2を付与
> - 第2四分位以上第3四分位未満 ・・・ 3を付与
> - 第3四分位以上 ・・・ 4を付与

---
> R-056: 顧客データ（df_customer）の年齢（age）をもとに10歳刻みで年代を算出し、顧客ID（customer_id）、生年月日（birth_day）とともに10件表示せよ。ただし、60歳以上は全て60歳代とすること。年代を表すカテゴリ名は任意とする。

---
> R-057: 056の抽出結果と性別コード（gender_cd）により、新たに性別×年代の組み合わせを表すカテゴリデータを作成し、10件表示せよ。組み合わせを表すカテゴリの値は任意とする。

---
> R-058: 顧客データ（df_customer）の性別コード（gender_cd）をダミー変数化し、顧客ID（customer_id）とともに10件表示せよ。

---
> R-059: レシート明細データ（df_receipt）の売上金額（amount）を顧客ID（customer_id）ごとに合計し、売上金額合計を平均0、標準偏差1に標準化して顧客ID、売上金額合計とともに10件表示せよ。標準化に使用する標準偏差は、分散の平方根、もしくは不偏分散の平方根のどちらでも良いものとする。ただし、顧客IDが"Z"から始まるのものは非会員を表すため、除外して計算すること。

---
> R-060: レシート明細データ（df_receipt）の売上金額（amount）を顧客ID（customer_id）ごとに合計し、売上金額合計を最小値0、最大値1に正規化して顧客ID、売上金額合計とともに10件表示せよ。ただし、顧客IDが"Z"から始まるのものは非会員を表すため、除外して計算すること。

---
> R-061: レシート明細データ（df_receipt）の売上金額（amount）を顧客ID（customer_id）ごとに合計し、売上金額合計を常用対数化（底10）して顧客ID、売上金額合計とともに10件表示せよ。ただし、顧客IDが"Z"から始まるのものは非会員を表すため、除外して計算すること。

---
> R-062: レシート明細データ（df_receipt）の売上金額（amount）を顧客ID（customer_id）ごとに合計し、売上金額合計を自然対数化（底e）して顧客ID、売上金額合計とともに10件表示せよ。ただし、顧客IDが"Z"から始まるのものは非会員を表すため、除外して計算すること。

---
> R-063: 商品データ（df_product）の単価（unit_price）と原価（unit_cost）から各商品の利益額を算出し、結果を10件表示せよ。

---
> R-064: 商品データ（df_product）の単価（unit_price）と原価（unit_cost）から、各商品の利益率の全体平均を算出せよ。ただし、単価と原価には欠損が生じていることに注意せよ。

---
> R-065: 商品データ（df_product）の各商品について、利益率が30%となる新たな単価を求めよ。ただし、1円未満は切り捨てること。そして結果を10件表示させ、利益率がおよそ30％付近であることを確認せよ。ただし、単価（unit_price）と原価（unit_cost）には欠損が生じていることに注意せよ。

---
> R-066: 商品データ（df_product）の各商品について、利益率が30%となる新たな単価を求めよ。今回は、1円未満を丸めること（四捨五入または偶数への丸めで良い）。そして結果を10件表示させ、利益率がおよそ30％付近であることを確認せよ。ただし、単価（unit_price）と原価（unit_cost）には欠損が生じていることに注意せよ。

---
> R-067: 商品データ（df_product）の各商品について、利益率が30%となる新たな単価を求めよ。今回は、1円未満を切り上げること。そして結果を10件表示させ、利益率がおよそ30％付近であることを確認せよ。ただし、単価（unit_price）と原価（unit_cost）には欠損が生じていることに注意せよ。

---
> R-068: 商品データ（df_product）の各商品について、消費税率10％の税込み金額を求めよ。1円未満の端数は切り捨てとし、結果を10件表示せよ。ただし、単価（unit_price）には欠損が生じていることに注意せよ。

---
> R-069: レシート明細データ（df_receipt）と商品データ（df_product）を結合し、顧客毎に全商品の売上金額合計と、カテゴリ大区分コード（category_major_cd）が"07"（瓶詰缶詰）の売上金額合計を計算の上、両者の比率を求めよ。抽出対象はカテゴリ大区分コード"07"（瓶詰缶詰）の売上実績がある顧客のみとし、結果を10件表示せよ。

---
> R-070: レシート明細データ（df_receipt）の売上日（sales_ymd）に対し、顧客データ（df_customer）の会員申込日（application_date）からの経過日数を計算し、顧客ID（customer_id）、売上日、会員申込日とともに10件表示せよ（sales_ymdは数値、application_dateは文字列でデータを保持している点に注意）。

---
> R-071: レシート明細データ（df_receipt）の売上日（sales_ymd）に対し、顧客データ（df_customer）の会員申込日（application_date）からの経過月数を計算し、顧客ID（customer_id）、売上日、会員申込日とともに10件表示せよ（sales_ymdは数値、application_dateは文字列でデータを保持している点に注意）。1ヶ月未満は切り捨てること。

---
> R-072: レシート明細データ（df_receipt）の売上日（df_customer）に対し、顧客データ（df_customer）の会員申込日（application_date）からの経過年数を計算し、顧客ID（customer_id）、売上日、会員申込日とともに10件表示せよ（sales_ymdは数値、application_dateは文字列でデータを保持している点に注意）。1年未満は切り捨てること。

---
> R-073: レシート明細データ（df_receipt）の売上日（sales_ymd）に対し、顧客データ（df_customer）の会員申込日（application_date）からのエポック秒による経過時間を計算し、顧客ID（customer_id）、売上日、会員申込日とともに10件表示せよ（なお、sales_ymdは数値、application_dateは文字列でデータを保持している点に注意）。なお、時間情報は保有していないため各日付は0時0分0秒を表すものとする。

---
> R-074: レシート明細データ（df_receipt）の売上日（sales_ymd）に対し、当該週の月曜日からの経過日数を計算し、売上日、直前の月曜日付とともに10件表示せよ（sales_ymdは数値でデータを保持している点に注意）。

---
> R-075: 顧客データ（df_customer）からランダムに1%のデータを抽出し、先頭から10件表示せよ。

---
> R-076: 顧客データ（df_customer）から性別コード（gender_cd）の割合に基づきランダムに10%のデータを層化抽出し、性別コードごとに件数を集計せよ。

---
> R-077: レシート明細データ（df_receipt）の売上金額を顧客単位に合計し、合計した売上金額の外れ値を抽出せよ。なお、外れ値は売上金額合計を対数化したうえで平均と標準偏差を計算し、その平均から3σを超えて離れたものとする（自然対数と常用対数のどちらでも可）。結果は10件表示せよ。

---
> R-078: レシート明細データ（df_receipt）の売上金額（amount）を顧客単位に合計し、合計した売上金額の外れ値を抽出せよ。ただし、顧客IDが"Z"から始まるのものは非会員を表すため、除外して計算すること。なお、ここでは外れ値を第1四分位と第3四分位の差であるIQRを用いて、「第1四分位数-1.5×IQR」を下回るもの、または「第3四分位数+1.5×IQR」を超えるものとする。結果は10件表示せよ。

---
> R-079: 商品データ（df_product）の各項目に対し、欠損数を確認せよ。

---
> R-080: 商品データ（df_product）のいずれかの項目に欠損が発生しているレコードを全て削除した新たな商品データを作成せよ。なお、削除前後の件数を表示させ、079で確認した件数だけ減少していることも確認すること。

---
> R-081: 単価（unit_price）と原価（unit_cost）の欠損値について、それぞれの平均値で補完した新たな商品データを作成せよ。なお、平均値については1円未満を丸めること（四捨五入または偶数への丸めで良い）。補完実施後、各項目について欠損が生じていないことも確認すること。

---
> R-082: 単価（unit_price）と原価（unit_cost）の欠損値について、それぞれの中央値で補完した新たな商品データを作成せよ。なお、中央値については1円未満を丸めること（四捨五入または偶数への丸めで良い）。補完実施後、各項目について欠損が生じていないことも確認すること。

---
> R-083: 単価（unit_price）と原価（unit_cost）の欠損値について、各商品のカテゴリ小区分コード（category_small_cd）ごとに算出した中央値で補完した新たな商品データを作成せよ。なお、中央値については1円未満を丸めること（四捨五入または偶数への丸めで良い）。補完実施後、各項目について欠損が生じていないことも確認すること。

---
> R-084: 顧客データ（df_customer）の全顧客に対して全期間の売上金額に占める2019年売上金額の割合を計算し、新たなデータを作成せよ。ただし、売上実績がない場合は0として扱うこと。そして計算した割合が0超のものを抽出し、結果を10件表示せよ。また、作成したデータに欠損が存在しないことを確認せよ。

---
> R-085: 顧客データ（df_customer）の全顧客に対し、郵便番号（postal_cd）を用いてジオコードデータ（df_geocode）を紐付け、新たな顧客データを作成せよ。ただし、1つの郵便番号（postal_cd）に複数の経度（longitude）、緯度（latitude）情報が紐づく場合は、経度（longitude）、緯度（latitude）の平均値を算出して使用すること。また、作成結果を確認するために結果を10件表示せよ。

---
> R-086: 085で作成した緯度経度つき顧客データに対し、会員申込店舗コード（application_store_cd）をキーに店舗データ（df_store）と結合せよ。そして申込み店舗の緯度（latitude）・経度情報（longitude)と顧客住所（address）の緯度・経度を用いて申込み店舗と顧客住所の距離（単位：km）を求め、顧客ID（customer_id）、顧客住所（address）、店舗住所（address）とともに表示せよ。計算式は以下の簡易式で良いものとするが、その他精度の高い方式を利用したライブラリを利用してもかまわない。結果は10件表示せよ。

$$
\mbox{緯度（ラジアン）}：\phi \\
\mbox{経度（ラジアン）}：\lambda \\
\mbox{距離}L = 6371 * \arccos(\sin \phi_1 * \sin \phi_2
+ \cos \phi_1 * \cos \phi_2 * \cos(\lambda_1 − \lambda_2))
$$

---
> R-087: 顧客データ（df_customer）では、異なる店舗での申込みなどにより同一顧客が複数登録されている。名前（customer_name）と郵便番号（postal_cd）が同じ顧客は同一顧客とみなして1顧客1レコードとなるように名寄せした名寄顧客データを作成し、顧客データの件数、名寄顧客データの件数、重複数を算出せよ。ただし、同一顧客に対しては売上金額合計が最も高いものを残し、売上金額合計が同一もしくは売上実績がない顧客については顧客ID（customer_id）の番号が小さいものを残すこととする。

---
> R-088: 087で作成したデータを元に、顧客データに統合名寄IDを付与したデータを作成せよ。ただし、統合名寄IDは以下の仕様で付与するものとする。
>
> - 重複していない顧客：顧客ID（customer_id）を設定
> - 重複している顧客：前設問で抽出したレコードの顧客IDを設定
> 
> 顧客IDのユニーク件数と、統合名寄IDのユニーク件数の差も確認すること。

---
> R-089: 売上実績がある顧客を、予測モデル構築のため学習用データとテスト用データに分割したい。それぞれ8:2の割合でランダムにデータを分割せよ。

---
> R-090: レシート明細データ（df_receipt）は2017年1月1日〜2019年10月31日までのデータを有している。売上金額（amount）を月次で集計し、学習用に12ヶ月、テスト用に6ヶ月の時系列モデル構築用データを3セット作成せよ。

---
> R-091: 顧客データ（df_customer）の各顧客に対し、売上実績がある顧客数と売上実績がない顧客数が1:1となるようにアンダーサンプリングで抽出せよ。

---
> R-092: 顧客データ（df_customer）の性別について、第三正規形へと正規化せよ。

---
> R-093: 商品データ（df_product）では各カテゴリのコード値だけを保有し、カテゴリ名は保有していない。カテゴリデータ（df_category）と組み合わせて非正規化し、カテゴリ名を保有した新たな商品データを作成せよ。

---
> R-094: 093で作成したカテゴリ名付き商品データを以下の仕様でファイル出力せよ。
>
> |ファイル形式|ヘッダ有無|文字エンコーディング|
> |:--:|:--:|:--:|
> |CSV（カンマ区切り）|有り|UTF-8|
> 
> ファイル出力先のパスは以下のようにすること
> 
> |出力先|
> |:--:|
> |./data|

---
> R-095: 093で作成したカテゴリ名付き商品データを以下の仕様でファイル出力せよ。
>
> |ファイル形式|ヘッダ有無|文字エンコーディング|
> |:--:|:--:|:--:|
> |CSV（カンマ区切り）|有り|CP932|
> 
> ファイル出力先のパスは以下のようにすること。
> 
> |出力先|
> |:--:|
> |./data|

---
> R-096: 093で作成したカテゴリ名付き商品データを以下の仕様でファイル出力せよ。
>
> |ファイル形式|ヘッダ有無|文字エンコーディング|
> |:--:|:--:|:--:|
> |CSV（カンマ区切り）|無し|UTF-8|
> 
> ファイル出力先のパスは以下のようにすること
> 
> |出力先|
> |:--:|
> |./data|

---
> R-097: 094で作成した以下形式のファイルを読み込み、データを3件を表示させて正しく取り込まれていることを確認せよ。
> 
> |ファイル形式|ヘッダ有無|文字エンコーディング|
> |:--:|:--:|:--:|
> |CSV（カンマ区切り）|有り|UTF-8|

---
> R-098: 096で作成した以下形式のファイルを読み込み、データを3件を表示させて正しく取り込まれていることを確認せよ。
> 
> |ファイル形式|ヘッダ有無|文字エンコーディング|
> |:--:|:--:|:--:|
> |CSV（カンマ区切り）|ヘッダ無し|UTF-8|

---
> R-099: 093で作成したカテゴリ名付き商品データを以下の仕様でファイル出力せよ。
>
> |ファイル形式|ヘッダ有無|文字エンコーディング|
> |:--:|:--:|:--:|
> |TSV（タブ区切り）|有り|UTF-8|
> 
> ファイル出力先のパスは以下のようにすること
> 
> |出力先|
> |:--:|
> |./data|

---
> R-100: 099で作成した以下形式のファイルを読み込み、データを3件を表示させて正しく取り込まれていることを確認せよ。
> 
> |ファイル形式|ヘッダ有無|文字エンコーディング|
> |:--:|:--:|:--:|
> |TSV（タブ区切り）|有り|UTF-8|

# これで１００本終わりです。おつかれさまでした！